body {
  font-family: 'Arial', sans-serif;
  background-color: #0c0c0c;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  max-width: 340px; /* Ancho máximo del contenedor del encabezado */
  margin: 20px auto; /* Centrado con márgenes automáticos */
}

.profile-picture {
  border-radius: 50%;
  width: 150px; /* Ajusta el tamaño según necesites */
  display: block; /* Asegura que la imagen no tenga elementos en línea al lado */
  margin: 0 auto 20px; /* Centrado con margen debajo */
}

h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 340px; /* Ancho máximo igual al del encabezado para alineación */
  margin: 0 auto; /* Centrado con márgenes automáticos */
}

nav ul li {
  margin: 10px 0;
}

p {
  border: 2px solid #C8A2C8; /* un color lila */
  display: inline-block; /* para que el borde envuelva el texto */
  padding: 5px; /* Espaciado entre el borde y el texto */
  margin-top: 20px; /* Margen superior */
  margin-bottom: 20px; /* Margen inferior */
  border-radius: 8px; /* Bordes redondeados */
}


nav ul li a {
  text-decoration: none;
  color: white;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  display: block; /* Ocupará el ancho completo del `<li>` */
  transition: background-color 0.3s;
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho final */
  width: 100%; /* Ocupará el ancho completo del `<li>` */
}

nav ul li a:hover {
  background-color: #b878dd;
}

footer {
  width: 100%;
  background-color: #211d25; /* Tu color de fondo específico */
  color: rgb(238, 226, 226); /* Color de texto que contraste con el fondo */
  text-align: center;
  padding: 10px 0; /* Espaciado interno superior e inferior */
  position: absolute; /* Posicionamiento absoluto */
  bottom: 0; /* Colocado en la parte inferior de la página */
  left: 0; /* Alineado a la izquierda de la página */
}
footer p {
  margin: 0; /* Elimina cualquier margen por defecto del párrafo */
}
